Repository h-okay/hello: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --check --write, stylelint --allow-empty-input --fix, prettier --write

build(postcss.config.mjs): postcss config to use cssnano on production
  postcss.config.mjs
Due: eslint --fix, prettier --check --write

chore(.gitignore): update .gitignore
  .gitignore
Due: none

chore(.env.template): created a template .env file
  .env.template
Due: none

feat(components.json): added shacdn/ui
  components.json
Due: prettier --check --write

feat(public): updated icons
  public/apple-touch-icon.png
  public/favicon-16x16.png
  public/favicon-32x32.png
  public/favicon.ico
Due: none

feat(src/app): created robots and sitemaps scripts
  src/app/robots.ts
  src/app/sitemap.ts
Due: eslint --fix, prettier --check --write

feat(Logger.ts): added a logger
  src/libs/Logger.ts
Due: eslint --fix, prettier --check --write

feat(Fonts.ts): added new fonts
  src/styles/Fonts.ts
Due: eslint --fix, prettier --check --write

feat(Enum.ts): created an enum generator
  src/types/Enum.ts
Due: eslint --fix, prettier --check --write

feat(Helpers.ts): added helpers
  src/utils/Helpers.ts
Due: eslint --fix, prettier --check --write

feat(Env.ts): created environment checker
  src/libs/Env.ts
Due: eslint --fix, prettier --check --write

build(package.json): update configs
  bun.lockb
  package.json
  postcss.config.mjs
  tailwind.config.ts
  tsconfig.json
Due: eslint --fix, prettier --check --write

refactor(libs,styles,types,utils): renamed files
  src/libs/env.ts
  src/libs/logger.ts
  src/next.fonts.ts
  src/styles/global.css
  src/types/enum.ts
  src/utils/helpers.ts
Due: eslint --fix, prettier --check --write, stylelint --allow-empty-input --fix, prettier --write

build(prettier): update .prettierignore
  .prettierignore
Due: none

chore(index.ts): remove index.ts
  index.ts
Due: eslint --fix, prettier --check --write

chore(.env.template): updated .env.template
  .env.template
Due: none

refactor(src/app): fixed imports
  src/app/layout.tsx
  src/app/robots.ts
  src/app/sitemap.ts
Due: eslint --fix, prettier --check --write

Path conditions:
  eslint --fix: any of: **/*.{js,mjs,ts,tsx,md,mdx}
  prettier --check --write: (any of: **/*.{js,mjs,ts,tsx,md,mdx}) or (any of: **/*.{json,yml})
  stylelint --allow-empty-input --fix: any of: **/*.css
  prettier --write: any of: **/*.css
